

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    background-color: #f0f0f0;
  }
  body {
    color: #999999;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* -moz-font-feature-settings: "liga" on; */
    --header-height: 50px;

    margin: var(--header-height) 0 0 0;
    font-family: 'Montserrat', sans-serif;
  }
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
  }
  .btn--block {
    display: block;
    width: 100%;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   
    margin: 0;
    padding: 0;
  }
  .cards__item {
    display: flex;
    padding: 1rem;
    
  }
  @media (min-width: 40rem) {
    .cards__item {
      width: 50%;
    }
  }
  @media (min-width: 56rem) {
    .cards__item {
      width: 33.3333%;
    }
  }
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card:hover .card__image {
    filter: contrast(100%);
  }
  /* .card__content { */
   
  /* } */
  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  }
  .card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    .card__image::before {
      padding-top: 66.6%;
    }
  }
  .card__image--flowers {
    background-image:url(/image/cow.png);
  }
  .card__image--river {
    background-image: url(/image/cow.png);
  }
  .card__image--record {
    background-image: url(/image/cow.png);
  }
  .card__image--fence {
    background-image: url(/image/cow.png);
  }
 
  
  btn btn--block card__btn{
    text-decoration: none;
  }
  
.preload * {
    transition: none !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    /* background: #333333; */
    background: rgba(31, 100, 31, 0.884);
    display: flex;
}

.header__button {
    width: var(--header-height);
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    color: #333333;
    cursor: pointer;
}

.nav__links {
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background: #ffffff;
    transform: translateX(-250px);
    transition: transform 0.3s;
}

.nav--open .nav__links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}

.nav__link > i {
    margin-right: 15px;
}

.nav__link--active {
    color: #009578;
}

.nav__link--active,
.nav__link:hover {
    background: #eeeeee;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}
#loopelement{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* width: 93vw; */
    /* height: 30vh; */
    flex-wrap: wrap;
}

.menu_buttons{
  display: flex;
align-items: center;
  justify-content: space-around;
  /* border-top-style: solid;
  border-top-color:#009578; */
 
}
.buttons{
  margin-top: 10%;
}
.foradd{
  display:flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;

}
.butontop{
  padding-bottom: 20%;
}